<!-- Sidebar Menu -->
<aside class="fixed skin-6">
    <div class="main-menu">
        <ul>
            <li>
                <a href="/Home/List" class="json">                    
                    <span class="text">
                        Какой-то список №1
                    </span>
                </a>
            </li>
            <li>
                <a href="/Home/AnotherList" class="json">                    
                    <span class="text">
                        Какой-то список №2
                    </span>
                </a>
            </li>
        </ul>
    </div>
</aside>

<!-- End of Sidebar Menu -->
